div{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 30%;
	left: 30%;
	background: red;
	animation: changeshape 1s ease-in-out infinite alternate;
}

@keyframes changeshape{
	from{
		border-radius: 0%;
	}
	to{
		border-radius: 50%;
	}
}

/*we can also write same as in state of writing from to we can define same property in percentage*/
@keyframes changeshape{
	0%{
		border-radius: 0%;
	}
	25%{
		border-radius: 12.5%;
	}
	50%{
		border-radius: 25%;
	}
	100%{
		border-radius: 50%;
	}
}