#box1{
	text-align: center;
	height: 200px;
	width: 200px;
	background: rgba(46, 31, 183, 0.392);
}
#box2{
	height: 200px;
	width: 200px;
	background: #e9dde2;
}
#box3{
	height: 200px;
	width: 200px;
	background: rgb(102, 30, 86);
}
#box4{
	height: 200px;
	width: 200px;
	background: rgba(124,125,45,0.5);
}
#box5{
	height: 200px;
	width: 200px;
	background: hsl(279.66deg 36.08% 19.79%);

}
